.image-selector-container {
  display: flex !important;
  flex-direction: row;
  height: 100%;
}

.text-area {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-container {
  width: 60%;
}
